<%- fields_for(form) do |f| -%>
  <%= f.error_messages %>

  <p>
    <b><%= f.label :phrase, 'Google' %></b>
    <%= f.text_field :phrase, :size => 140 %>
  </p>
  <p>
    <%= f.check_box :published %>
    <%= f.label :published, 'Published?' %>
  </p>
<%- end -%>